.hero-section {
    position: relative;
    overflow: hidden;
}

.sparkles-overlay {
    mask-image: radial-gradient(closest-side at 50% 50%, white, transparent);
    contain   : layout paint;
}


.hero-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-top     : 50px;

}

.hero-title {
     font-family: "Alatsi", sans-serif;
     font-size: 3rem;
     font-weight: 500;
     word-spacing: 1px;
     letter-spacing: 1px;
     line-height: 1.2;
}

.hero-text {
     font-family: "Inter", sans-serif;
     font-size:1rem ;
     word-spacing: 1px;
     letter-spacing: 1px;
}