.hero-section {
    position: relative;
    overflow: hidden;
    
}

.sparkles-overlay {
    mask-image: radial-gradient(closest-side at 50% 50%, white, transparent);
    contain   : layout paint;
}


.hero-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-top     : 20px;

}

.hero-title {
     font-family: "Alatsi", sans-serif;
   font-size: min(60px, 8vw);
     font-weight: 500;
     word-spacing: 1px;
     letter-spacing: 1px;
     line-height: 1.2;
}

.hero-text {
     font-family: "Inter", sans-serif;
     font-size:1.20rem ;
     word-spacing: 1px;
     letter-spacing: 1px;
}


@media (max-width: 768px) {
 .hero-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }
    .hero-title {
        font-size: 12vw;
        width: 100%;
    }

    .hero-text {
        width: 85%;
       
        font-size: 6vw;
    }
}