.hero-section {
    position: relative;
    overflow: hidden;
    background-color: rgb(18, 18, 60);
    padding-bottom: 20px;
    
}

.sparkles-overlay {
    mask-image: radial-gradient(closest-side at 50% 50%, white, transparent);
    contain   : layout paint;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.hero-title {
     font-family: "Alatsi", sans-serif;
   font-size: min(60px, 8vw);
   text-align: center;
     font-weight: 600;
     word-spacing: 1px;
     letter-spacing: 1px;
     line-height: 1.2;
     width: 100%;
     max-width: 600px;
     color: #fdfaf0;
    
}

.hero-text {
     font-family: "Inter", sans-serif;
     font-size:1.25rem ;
     word-spacing: 0.5px;
     letter-spacing: 0.5px;
     margin: 30px 0 50px 0;
      color: #fdfaf0;
       width: 100%;
     max-width: 600px;
     
}


@media (max-width: 768px) {
 .hero-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }
    .hero-title {
        font-size: 12vw;
        width: 100%;
    }

    .hero-text {
        width: 85%;
       
        font-size: 6vw;
    }
}