.pushable {
    position      : relative;
    border        : none;
    background    : transparent;
    padding       : 0;
    cursor        : pointer;
    outline-offset: 4px;
    transition    : filter 250ms;
    width         : 100%;
    max-width     : 180px;
    display       : block;

}

.shadow {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 100%;
    height       : 100%;
    border-radius: 12px;
    background   : #1A1831;
    will-change  : transform;
    transform    : translateY(2px);
    transition   : transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 100%;
    height       : 100%;
    border-radius: 12px;
    background   : linear-gradient(to left,
            hsl(215deg 98% 24%) 0%,
            hsl(215deg 98% 54%) 8%,
            hsl(215deg 98% 54%) 92%,
            hsl(215deg 98% 24%) 100%);
}

.front {
    display      : block;
    position     : relative;
    padding      : 8px 5px;
    border-radius: 12px;
     font-family: "Inter", sans-serif;
    font-size    : 1rem;
    font-weight  : 600;
    color        : white;
    background   : hsl(215deg 98% 54%);
    will-change  : transform;
    text-align   : center;
    transform    : translateY(-4px);
    transition   : transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform : translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
    transform : translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform : translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform : translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}